header {
background-color: orange;
text-align: center;
height: 150px;
}
.mainDawg{
  display: flex;
  align-content: flex-start;

}


body {
background-color: pink;

}

.content {
border: solid 2px black;

}
.content2 {
  border: solid 2px black;
}
.content3 {
  border: solid 2px black;
}
